body {
    font-family:"Red Hat Display", sans-serif;
    background-image: url(pattern-background-desktop.svg) ;
}

header {
    text-align: center;
    border-radius: 10px/20px;
}

header div h1 img {
    text-align: center;
    border-radius: 10px/20px;
}

body {
    text-align: center;

}

section h2 {
    color: #070799
}

section p {
    text-align: center;
    color: #717FA6
}

section informacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F7F9FF;
    
  }
  
  section .simbolo-musica {
    display: column;
    
  }
  
  section .preco {
    display: center;
    flex-direction: column;
    
  }


div preco a {
    color:hsl(245, 75%, 52%);
     font-weight: 600;
     font-size: 90%;
     transition: all 0.3s;
}

div preco a:hover {
    color: #766CF1;
    text-decoration: none;
}
 
    

section button {
    
    background-color:hsl(245, 75%, 52%);
    color: #d3d3d3;
    font-weight: 600;
    box-shadow: 10px 10px 10px 0 #000000;
    border-radius: 10px/20px;
    width: 300px;
    height: 30px ;
    transition: 3s;
    opacity: 1;
    transition: background 0.3s;
    cursor:pointer       
    
}

section button:hover {

    background: #766CF1;

    opacity: 0.3s;

}

section a {
    text-decoration: none;
    color:hsl(245, 75%, 52%);
     font-weight: 600;
     font-size: 90%;
     transition: all 0.3s;
}

section a:hover {
    color: #766CF1;
    text-decoration: none;
}



section h3 {
    column-width: auto;
}

main {
    background-color: #ffffff;  
    padding:center;
       
    
}




.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }